<div class="settings">
  <%= form_tag('/admin/settings') do %>
    <div class="field">
      <%= label_tag 'site_name', 'Site Name' %>
      <%= text_field_tag 'site_name', Settings.site_name, :placeholder => 'John Doe\'s Portfolio' %>
      <span>This will be the name of your site, as displayed in the header and title bar.</span>
    </div>
    <% if !current_page?(admin_setup_path) %>
      <div class="field">
        <%= label_tag 'front_project', 'Front Project' %>
        <%= select_tag 'front_project', options_from_collection_for_select(@projects, 'id', 'title', Settings.front_project) %>
      </div>
    <% end %>
    <div class="field first">
      <%= label_tag 'blog_title', 'Blog Section Title' %>
      <%= text_field_tag 'blog_title', Settings.blog_title, :placeholder => 'Blog' %>
    </div>
    <div class="field">
      <%= label_tag 'about_title', 'About Section Title' %>
      <%= text_field_tag 'about_title', Settings.about_title, :placeholder => 'About' %>
    </div>
    <div class="field">
      <%= label_tag 'contact_title', 'Contact Section Title' %>
      <%= text_field_tag 'contact_title', Settings.contact_title, :placeholder => 'Contact' %>
    </div>
    <div class="field first check-field">
      <%= check_box_tag 'show_blog', 'true', (Settings.show_blog == 'true') %>
      <%= label_tag 'show_blog', 'Show Blog section?' %>
    </div>
    <div class="field check-field">
      <%= check_box_tag 'show_about', 'true', (Settings.show_about == 'true') %>
      <%= label_tag 'show_about', 'Show About section?' %>
    </div>
    <div class="field check-field">
      <%= check_box_tag 'show_contact', 'true', (Settings.show_contact == 'true') %>
      <%= label_tag 'show_contact', 'Show Contact section?' %>
    </div>
    <div class="field first">
      <%= label_tag 'email' %>
      <%= text_field_tag 'email', Settings.email %>
      <span>Displayed on About page.</span>
    </div>
    <div class="field">
      <%= label_tag 'phone' %>
      <%= text_field_tag 'phone', Settings.phone %>
      <span>Displayed on About page.</span>
    </div>
    <div id="bio-field" class="field text-field">
      <%= label_tag 'about_text' %>
      <%= text_area_tag 'about_text', Settings.about_text %>
    </div>
    
    <%= hidden_field_tag 'initial_setup', 'true' if current_page?(admin_setup_path) %>
    
    <div class="field">
      <%= submit_tag "Save Settings" %>
    </div>
  <% end %>
</div>