<h2>Settings</h2>
  
<div class="settings">
  <%= form_tag('/settings') do %>
    <div class="field">
      <%= label_tag 'front_portfolio', 'Front Portfolio' %>
      <%= select_tag 'front_portfolio', options_from_collection_for_select(@portfolios, 'id', 'title', Settings.front_portfolio) %>
    </div>
    <div class="field check-field first">
      <%= check_box_tag 'show_portfolios', 'true', (Settings.show_portfolios == 'true') %>
      <%= label_tag 'show_portfolios', 'Show portfolio sidebar?' %>
    </div>
    <div class="field first">
      <%= label_tag 'news_title', 'News Section Title' %>
      <%= text_field_tag 'news_title', Settings.news_title, :placeholder => 'News' %>
    </div>
    <div class="field">
      <%= label_tag 'bio_title', 'Bio Section Title' %>
      <%= text_field_tag 'bio_title', Settings.bio_title, :placeholder => 'Bio' %>
    </div>
    <div class="field">
      <%= label_tag 'contact_title', 'Contact Section Title' %>
      <%= text_field_tag 'contact_title', Settings.contact_title, :placeholder => 'Contact' %>
    </div>
    <div class="field first check-field">
      <%= check_box_tag 'show_news', 'true', (Settings.show_news == 'true') %>
      <%= label_tag 'show_news', 'Show News section?' %>
    </div>
    <div class="field check-field">
      <%= check_box_tag 'show_bio', 'true', (Settings.show_bio == 'true') %>
      <%= label_tag 'show_bio', 'Show Bio section?' %>
    </div>
    <div class="field check-field">
      <%= check_box_tag 'show_contact', 'true', (Settings.show_contact == 'true') %>
      <%= label_tag 'show_contact', 'Show Contact section?' %>
    </div>
    <div class="field first">
      <%= label_tag 'email' %>
      <%= text_field_tag 'email', Settings.email %>
    </div>
    <div class="field">
      <%= label_tag 'phone' %>
      <%= text_field_tag 'phone', Settings.phone %>
    </div>
    <div id="bio-field" class="field">
      <%= label_tag 'bio' %>
      <%= text_area_tag 'bio', Settings.bio %>
    </div>
    <div class="field">
      <%= submit_tag "Update Settings" %>
    </div>
  <% end %>
</div>