<% content_for :title do "Admin" end %>

<h2>Projects</h2>

<div class="blocks group">
  <%= form_tag(set_position_path, :remote => true, :id => 'project_position') do %>
    <% @projects.each do |project| %>
      <div class="field block sortable">
        <div class="title"><%= link_to project.title, edit_admin_project_path(project) %></div>
        <div class="image-wrapper">
          <%= link_to image_tag(project.images.first.file.url(:thumb)), edit_admin_project_path(project) %>
        </div>
        <div class="actions">
          <%= link_to 'View', project, :class => 'left' %>
          <%= link_to 'Delete', admin_project_path(project), :confirm => 'Are you sure?', :method => :delete, :class => 'right' %>
        </div>
        <%= hidden_field_tag "projects[#{project.id}]", project.position, :id => "position_#{project.id}" %>
      </div>
    <% end %><!-- end project blocks -->
  <% end %><!-- end project position form -->
  
  <div class="field block">
    <div class="image-placeholder"><%= link_to 'add project', new_admin_project_path %></div>
  <div class="actions"></div>
  </div><!-- end new project block -->
</div>

<% if Settings.show_blog == 'true' %>

  <h2>Blog</h2>

  <div class="group">
  
    <% for post in @posts do %>
    <div class="field block">
      <div class="title"><%= link_to post.title, edit_admin_post_path(post) %></div>
      <div class="image-wrapper">
        <%= link_to image_tag(post.image.url(:thumb)), edit_admin_post_path(post) %>
      </div>
    <div class="actions">
      <%= link_to 'View', page_path(Settings.blog_title.downcase.parameterize, post), :class => 'left' %>
      <%= link_to 'Delete', admin_post_path(post), :confirm => 'Are you sure?', :method => :delete, :class => 'right' %>
    </div>
    </div><!-- end post blocks -->
    <% end %>
    
    <div class="field block">
      <div class="image-placeholder"><%= link_to 'add post', new_admin_post_path %></div>
    <div class="actions"></div>
    </div><!-- end new post block -->
    
  </div>

<% end %>
  
<h2>Settings</h2>

<%= render 'settings' %>