<% content_for :title do "Welcome" end %>

<h2>Welcome!</h2>

<p>There are a couple things we need to set up before you can start building portfolio. First off, please type in the password you'd like to use when accessing the admin sections of the site.</p>

<div class="settings">
  <%= form_for @user, :url => ssl_if_prod(users_url(@user)) do |f| %>
    <%= render :partial => 'common/errors', :locals => { :object => @user } if @user.errors.any? %>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions"><%= f.submit "Save Password" %></div>
  <% end %>
</div>