<% content_for :script do %>
	<%= javascript_include_tag 'portfolio' %>
<% end %>

<div id="portfolio-edit">
<%= form_for(@portfolio, :html => { :multipart => true }) do |f| %>
	<%= render 'errors' if @portfolio.errors.any? %>

  <div class="field group">
  	<%= f.text_field :title, :placeholder => "Portfolio Title" %>
  </div>
  
  <div class="portfolio-edit-photos">
	  <% f.fields_for :photos do |photo_form| %>
	  
  		<div class="field portfolio-edit-photo draggable<%= " portfolio-new-photo" if photo_form.object.new_record? %>">
  			<% if !photo_form.object.new_record? %>
  				<div class="photo-wrapper" style="background-image:url(<%= photo_form.object.image.url(:thumb) %>);background-repeat:no-repeat;"></div>
  			<% else %>
  				<div class="image-placeholder"><span>add photo</span></div>
  			<% end %>
  			<div class="edit-actions">
  				<% if !photo_form.object.new_record? %>
			  		<a href="#" class="photo-replace-link">Replace</a>
			  		<%= photo_form.file_field :image, :style => "display:none" %>
			  		<span class="remove-check">
			  			<%= photo_form.check_box '_destroy' %>
				  		<%= photo_form.label '_destroy', 'Remove' %>
				    </span>
				     <%= photo_form.hidden_field :position %>
				     <div class="position"><%= photo_form.object.position %></div>
				   <% else %>
				   	<%= photo_form.file_field :image %>
				   <% end %>
		    </div>
		  </div>
			
		<% end %>
	</div>
	
	<div class="portfolio-options group">
	<div class="add-photos-link">
		<%= link_to 'Add six more photos', add_new_photos_path(:last_photo => @portfolio.photos.length, :new_photos => 6), :remote => true %>
	</div>
	
	<div class="portfolio-visible-check">
    <%= f.check_box :visible %>
		<%= f.label :visible, 'Make this portfolio visible on the site?' %>
	</div>
	</div>
			
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>