<nav>
  <ul id="portfolios">
    <% for portfolio in @portfolios %>
        <li <% if portfolio == @portfolios.last %>class="nav-portfolio-last"<% end %>><%= link_to_if (portfolio.id != @portfolio.id), portfolio.title, portfolio %></li>
    <% end %>
    <% if Settings.show_news == 'true' %>
      <li id="news-link"><%= link_to Settings.news_title, page_path(Settings.news_title.parameterize) %></li>
    <% end %>
    <% if Settings.show_bio == 'true' %>
      <li id="bio-link"><%= link_to Settings.bio_title, page_path(Settings.bio_title.parameterize) %></li>
    <% end %>
    <% if Settings.show_contact == 'true' %>
      <li id="contact-link"><%= link_to Settings.contact_title, page_path(Settings.contact_title.parameterize) %></li>
    <% end %>
    <% if current_user %>
      <li><%= link_to 'Admin', admin_path %></li>
      <li><%= link_to 'Log out', session_path, :confirm => 'Are you sure you want to log out?', :method => :delete %></li>
    <% end %>
  </ul>
</nav>