<% content_for :script do %>
	<%= javascript_include_tag 'portfolio' %>
<% end %>

<% content_for :title do "admin" end %>

<div class="portfolio-edit-photos">
	<% @portfolios.each do |portfolio| %>
	  <div class="field portfolio-edit-photo">
	  	<div class="photo-wrapper">
	  		<%= link_to image_tag(portfolio.photos.first.image.url(:thumb)), edit_portfolio_path(portfolio) %>
	  	</div>
	    <div class="edit-actions">
	    	<%= link_to 'View', portfolio, :class => 'portfolio-edit-link' %>
	    	<%= link_to 'Delete', portfolio, :confirm => 'Are you sure?', :method => :delete, :class => 'portfolio-delete-link' %>
	    </div>
	    <div class="title"><%= portfolio.title %></div>
	  </div>
	<% end %>

  <div class="field portfolio-edit-photo">
  	<div class="image-placeholder"><span><%= link_to 'add portfolio', new_portfolio_path, :class => 'new-portfolio-link' %></span></div>
    <div class="edit-actions">
    	&nbsp;
    </div>
  </div>
 </div>
