<p>Show Porfolios: <%= Settings.show_portfolios %></p>
<p>Front Portfolio: <%= Settings.front_portfolio %></p>
<p>Phone: <%= Settings.phone %></p>
<p>Email: <%= Settings.email %></p>
<p>Bio: <%= Settings.bio %></p>