<%= form_for([:admin, @post], :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'common/errors', :locals => { :object => @post } if @post.errors.any? %>
  
  <div class="field">
    <%= f.text_field :title, :placeholder => "Post Title" %>
  </div>
  
  <div class="field">
    <%= f.text_area :body %>
  </div>
  
  <% if f.object.image? %>
    <div class="field">
      <%= image_tag f.object.image(:thumb) %>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>