	<article class="post group">
		<header class="group">
			<h1><%= post.title %></h1>
			<time datetime="<%= post.created_at.to_date %>" pubdate><%= link_to post.created_at.strftime('%b %d, %Y'), post %></time>
		</header>
		<%= image_tag post.image.url, :alt => post.title, :width => "348px" %>
		<%= raw post.body %>
	</article>
	