<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
  <head>
    <title><%= Settings.site_name || 'Porto'%><%= content_for?(:title) ? ' - ' + yield(:title) : '' %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    
    <!--[if lt IE9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class="<%= controller.controller_name %>-body <%= controller.controller_name %>-<%= controller.action_name %>-body">
    <content class="group">
    
      <header class="group">
        <h1><%= link_to (Settings.site_name || 'Porto'), root_path %></h1>
        
        <% if show_top_nav %>
          <nav>
            <ul id="nav">
              <% if Settings.show_blog == 'true' %>
                <li id="news-link"><%= link_to Settings.blog_title, page_path(Settings.blog_title.parameterize) %></li>
              <% end %>
              <% if Settings.show_about == 'true' %>
                <li id="bio-link"><%= link_to Settings.about_title, page_path(Settings.about_title.parameterize) %></li>
              <% end %>
              <% if Settings.show_contact == 'true' %>
                <li id="contact-link"><%= link_to Settings.contact_title, page_path(Settings.contact_title.parameterize) %></li>
              <% end %>
              <% if current_user %>
                <li><%= link_to 'Admin', admin_path, :class => 'admin-link' %></li>
                <li><%= link_to 'Log out', session_path, :confirm => 'Are you sure you want to log out?', :method => :delete, :class => 'admin-link' %></li>
              <% end %>
            </ul>
          </nav>
        <% end %>
        
        <% if show_project_nav %>
          <nav id="project-nav">
            <%= link_to_if @previous, 'previous', @previous == 1 ? project_path(@project) : project_image_path(@project, @previous), :id => 'previous-link', :class => 'active' do %>
              <span id="previous-link" class="inactive">previous</span>
            <% end %>
            
            <%= link_to_if @next, 'next', project_image_path(@project, @next), :id => 'next-link', :class => 'active' do %>
              <span id="next-link" class="inactive">next</span>
            <% end %>
          </nav>
        <% end %>
      </header>
      
      <% if notice %>
        <div id="notice"><%= notice %></div>
      <% end %>
      
      <% if alert %>
        <div id="alert"><%= alert %></div>
      <% end %>
      
      <section class="main">
        <% if show_project_sidebar %>
          <nav>
            <ul id="projects">
              <% for project in @visible_projects %>
                  <li><%= link_to_unless current_or_front(project), project.title, project %></li>
              <% end %>
            </ul>
          </nav>
        <% end %>
        
        <%= yield %>
      </section>
    
    </content>
  </body>
</html>