<!DOCTYPE html>
<html>
<head>
  <title>dru donovan - <%= content_for?(:title) ? yield(:title) : 'photographer' %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery-ui' %>
  <%= yield :script %>
  <%= csrf_meta_tag %>
  
  <!--[if lt IE9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<content class="group <%= controller.controller_name %>-<%= controller.action_name %>">

	<header class="group">
		<h1><%= link_to 'dru donovan', root_path %></h1>
		
		<% if controller.action_name == 'show' %>
		<ul id="nav">
			<li id="bio-link"><a href="#">bio</a></li>
			<li id="contact-link"><a href="#">contact</a></li>
		</ul>
		
		<ul id="portfolio-nav">
			<li id="previous-link" class="inactive">previous</li>
			<li id="next-link"><a href="#">next</a></li>
		</ul>
		<% end %>
		
	</header>
	
	<main>
	<%= yield %>
	</main>

</content>

</body>
</html>
