<!DOCTYPE html>
<html>
<head>
<title>DRU DONOVAN<%= content_for?(:title) ? ' - ' + yield(:title) : '' %></title>
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :defaults, 'jquery-ui' %>
<%= include_tiny_mce_if_needed %>
<%= yield :script %>
<%= csrf_meta_tag %>
<meta name="description" content="Official website and portfolio of photographer Dru Donovan." /> 
<meta name="keywords" content="Dru Donovan, photography">

<!--[if lt IE9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-10568419-2']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body>

<content class="group <%= controller.controller_name %>-<%= controller.action_name %>">

	<header class="group">
		<h1><%= link_to 'DRU DONOVAN', root_path %></h1>
		
		<ul id="nav">
			<li id="news-link"><%= link_to 'news', posts_path %></li>
			<li id="bio-link"><%= link_to 'bio', bio_path %></li>
			<li id="contact-link"><%= link_to 'contact', contact_path %></li>
		</ul>
		
		<% if controller.controller_name == 'portfolios' && controller.action_name == 'show' %>
		<ul id="portfolio-nav">
			<li id="previous-link" class="inactive">previous</li>
			<li id="next-link"><a href="#">next</a></li>
		</ul>
		<% end %>
	</header>
	
	<% if notice %>
		<div id="notice"><%= notice %></div>
	<% end %>
	
	<main>
		<% if controller.controller_name == 'portfolios' && controller.action_name == 'show' && Settings.show_portfolios == 'true'%>
		<%= render :partial => 'portfolios/nav' %>
		<% end %>
	
		<%= yield %>
	</main>

</content>

</body>
</html>